/*====================================HEADER========================================================*/
*{
    @border: 1px solid black;
}
body{
    padding: 0;
    margin:0;
    font-family: 'Lora';
    /* Set the background image */
    background-image: url(doodle5.jpg);

    /* Adjust background properties */
    background-size: cover; /* Adjusts the size of the background image */
    background-position: center; /* Positions the background image at the center */
    background-repeat: no-repeat; /* Ensures the background image doesn't repeat */
    scroll-behavior: smooth;
}
.floatfix{
	height:66px;
}
header{
    background: rgb(208, 59, 59);
    height: 66px;
}
header * {
	color: rgb(245, 204, 22);
}
header {
	background-color: rgb(0, 0, 0);
	height: 66px;
}
header .logo {
	float: left;
	height: inherit;
	margin-left: 2em;
	/*
    border: 1px black dotted;
    */
}
header .txt1 {
	margin: 9px;
	margin-top: 10px;
	font-family: 'Candal','serif';
	color: rgb(168,167,255);
}
header .txt1 span {
	color: rgb(217,217,255);
}
/*=========== Nav Links ==========*/
/*
	header{
		.nav#nav{
			ul{
				li{main-links
					a
					ul{sub-links
						li{
							a
				li{
*/

header ul {
	float: right;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
header ul li {
	float: left;
	position: relative;
	transition: .5s;
}
header ul li ul {
	position: absolute;
	top: 66px;
	width: 180px;
	right: 0;
	display: none;
	/*svs
    z-index: 50357689;
    */
	transition: .5s;
}
header ul li:hover ul {
	display: block;
}
header ul li ul li {
	width: 100%;
}
header ul li ul li a {
	padding: 10px;

	/*
    border:1px white solid;
    color: black;
    */
	background-color: rgba(0,0,0,0.41);
	transition: .5s;
}
header ul li ul li a:hover {
	color: cadetblue;
	background-color: antiquewhite;
}
header ul li ul li a.logout {
	color: red;
	transition: .5s;
}
header ul li ul li a.logout:hover {
	color: white;
	background-color: red;
}


header ul li a {
	padding: 21px;
	font-size: 1.1em;
	display: block;
	color: white;
	transition: .5s;
}

/*===== Customa-stylus-svs===*/
header ul li a:hover {
	/*
    color: cadetblue;
    background-color: rgba(0,0,0,0.415);
	*/
	background-color: #000;
	border-radius: 5px;
	border: 1px white solid;
	transition: 0.12s;
	/* err0r form header{pos:fixed */
	box-shadow: 0 4px 8px 0 rgba(250,235,215,0.22), 0 6px 20px 0 rgba(250,235,215,0.22);
}
header {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 99999;

	/*
	filter: blur(8px);
  -webkit-filter: blur(8px);
  */
}
h1.txt1 {
	text-shadow: 0 0 3px black;
}

header .menu-toggle {
	display: none;
	margin-top: -6px;
	padding: 0;
	/*
  display: inline-block;
  cursor: pointer;
	*/
}

.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: #fff;
	margin: 6px 0;
	border-radius: 5px;
	transition: 0.4s;
}

.change .bar1 {
	transform: translate(0, 11px) rotate(-45deg);
}
.change .bar2 {
	opacity: 0;
}
.change .bar3 {
	transform: translate(0, -11px) rotate(45deg);
}
/*========================================================================================================*/
/* blog content*/
.blog-wrapper{

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    margin-block:15px;
    margin-inline: auto;
    /*
    */
    padding: 25px 4vw;
    box-shadow: 0 0 8px 0 #000000;

    background-color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*
    border: 1px solid #c5c5c5;
    */
}

.img{
    width: 80%;
    height: auto;
    margin-inline: auto;
    margin-bottom: 20px;
    box-shadow: 1rem 1rem 2rem -1rem #000000;
}
h1.heading{
    text-align: center;
    font-family: "Outfit", "Arial", sans-serif;
    color :rgb(37, 41, 57);
    font-weight: 1200;
    padding-bottom: 7px;
    border-bottom: 1px solid #686868;
}

h2,h3,h4,h5,h6{
    /*
    text-decoration: underline;
    */
}

.hr{
    height: 1px;
    background-color:#686868;
}

.about-author{
    height: 30px;
    border-top: 1px solid black;
    font-family: monospace;
    font-size: 1.2rem;
    color: #272727;
    word-spacing: 2%;
    background-color: #fbfbfb;
    padding: 20px;
}

/*====================================FOOTER=============================================================*/

/*========FOOTER=================
.footer
	.footer-content
		.footer-section .about
			.logo-text
			p
			.contact
			.socials{icons}
		.footer-section .links
			ul
				a
					li
		.footer-section .contact-form
	.footer-bottom

*/
.footer {
	background: #303036;
	color: #ffffff;
	/*
    height: 500px;
    */
	position: relative;
	border: 2px solid black;
}

.footer .footer-content {
	height: auto;
	display: flex;
}
.footer .footer-content .footer-section {

	flex: 1;
	padding: 25px;
}

.footer .footer-content h1,
.footer .footer-content h2 {
	color: white;
}

.footer .footer-content .about h1 span {

	color: white;
}

.footer .footer-content .about .contact span {

	display: block;
	font-size: 1.1em;
	margin-bottom: 8px;

}

.footer .footer-content .about .socials a {
	border: 1px solid gray;
	display: inline-block;
	/*
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        */
	width: 45px;
	height: 30px;
	font-size: 1.3em;
	border-radius: 5px;
	transition: all .3s;
}
.footer .footer-content .about .socials a i {
	display: block;
	width: 45px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-right: 5px;
	vertical-align: middle;
	border-radius: 5px;
}
.fa-instagram {
	color: #FF0163;
}
.fa-youtube {
	color: #CB2028;
}
.fa-twitter {
	color: #1DA1F3;
}
.fa-facebook {
	color: #0865FE;
}

.fa-instagram:hover {
	background-color: #FF0163;
	color: white;
}
.fa-youtube:hover {
	background-color: #CB2028;
	color: white;
}
.fa-twitter:hover {
	background-color: #1DA1F3;
	color: white;
}
.fa-facebook:hover {
	background-color: #0865FE;
	color: white;
}

.footer .footer-content .about .socials a:hover {

	border: 1px solid white;
	font-size: 1.4em;
	transition: all .3s;
}

.footer .footer-content .links {
	background-color: rgb(45,45,45);
}
.footer .footer-content .links ul a {
	display: block;
	margin-bottom: 10px;
	font-size: 1.2em;
	transition: all .3s;

}

.footer .footer-content .contact-form .contact-input {
	background: #272727;
	color: #bebdbd;
	margin-bottom: 10px;
	line-height: 1.5rem;
	padding: .9rem 1.4rem;
	border: none;
}

.footer .footer-content .contact-form .contact-input:focus {
	background: #1a1a1a;

}


.footer .footer-content .contact-form .contact-btn {
	float: left;
	background-color: #FF5B35;
}

.footer .footer-content .links ul a:hover {
	color: white;
	margin-left: 15px;
	transition: all .3s;
}


.footer .footer-bottom {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(71,77,84);
	color: rgb(138,138,138);
	height: 35px;
	width: 100%;
	position: relative;
	bottom: 0px;
	left: 0px;
}
a {
	text-decoration: none;
	color: inherit;
}
.btn {
	padding: .5rem 1rem;
	background: #006669;
	color: white;
	border: 1px solid transparent;
	border-radius: .25rem;
}
.btn:Hover {
	color: white ;
	background: #005255;
}

    /*
    .btn-big{
        padding: .7rem 1.3rem;
        line-height: 1.3rem;
    }
    */
/*========================================================================================================*/

/*========MEDIA ADJUST=========*/
@media only screen and (max-width:770px){
    .blog-wrapper{
        width: 90vw;
        padding: 25px 2vw;
    }
	header ul {
		width: 100%;
		background: rgba(0,0,0,0.61);
		/*
        border:1px solid black;
        */
		max-height: 0px;
		overflow: hidden;
	}

	/* Toggle class */
	.showing ul {
		transition: .75s;
		border: 1px black solid;
		max-height: 100em;
	}

	/* nav items themslefs */
	header ul li {
		width: 100%;
	}

	/* sub nav items */
	header ul li ul {
		position: static;
		display: block;
		width: 100%;
		background: transparent;
		border: 0px;
	}

	header ul li ul li a {
		padding: 10px;
		/*
        color: black;
        */
		background: transparent;
		padding-left: 50px;
	}
	header ul li ul li a:hover {
		box-shadow: 0 4px 8px 0 rgba(250,235,215,0.22), 0 6px 20px 2px rgba(0, 0, 0, 0.19);
	}
	/* toggling menu */
	header .menu-toggle {
		display: block;
		position: absolute;
		right: 20px;
		top: 20px;
		font-size: 1.9em;
	}
	header .logo {
		margin-left: 0;
	}


	/* extra prop on navLinks svs*/
	header ul li a:hover {
		/*
        color: cadetblue;
        border-radius: 5px;
    	*/
		background-color: rgba(0,0,0,0.755);
		transform: translateX(5px);
		border: 0;
		transition: 0.25s;
		box-shadow: 0 4px 8px 0 rgba(250,235,215,0.22);
	}

	.footer .footer-content .links {
		background-color: rgb(62,62,62);
	}
	.footer .footer-content {
		flex-direction: column;
	}
}
