h3{
    color: rgba(255, 0, 132, 0.427);
}
.odd{
    color: rgb(10, 9, 9);
}
.even{
    color: rgb(41, 41, 155);
}

#try{
    color: green;
}
.logo123{
    width: 100%;
    height: 100%;

}

.d1{
    background-color: yellowgreen;
    width: 60%;
    height: 450px;
}

.d2{
    width: 40vw;
    height: 70vh;
}

.makingit{
    font-size: 7em;
}