html,
body
{
    height: 100%;
    padding: 0px ;
    margin: 0px ;
    background: #f6f6f6 ;
    font-family: serif;
}

/* footer */
.footer{
    background:#303036;
    color:#ffffff;
    height: 400px ;
    position: relative ;
}


.footer .footer-content {
    height: 350px ;
    display: flex;

}

    .footer .footer-content .footer-section {

        flex:1 ;
        padding: 25px; 
        
    }

    .footer .footer-content h1,
    .footer .footer-content h2 {
        color: white;
    }

    .footer .footer-content .about h1 span {

        color:aqua;
    }

    .footer .footer-content .about .contact span {

        display:block;
        font-size: 1.1em;
        margin-bottom: 8px;

    }

    .footer .footer-content .about .socials a {
        border: 1px solid gray;
        width: 45px;
        height: 30px;
        padding-top: 5px;
        margin-right: 5px;
        text-align: center;
        display: inline-block;
        font-size: 1.3em;
        border-radius: 5px;
        transition: all .3s;
    }


     .footer .footer-content .about .socials a:hover {

         border:1px solid white;
         color: white;
         transition: all .3s;
     }

    .footer .footer-content .links ul a {
        display: block;
        margin-bottom: 10px;
        font-size:1.2em ;
        transition: all .3s;

    }

    .footer .footer-content .contact-form .contact-input {
        background: #272727;
        color: #bebdbd;
        margin-bottom: 10px;
        line-height: 1.5rem;
        padding: .9rem 1.4rem;
        border: none;  
        }

    .footer .footer-content .contact-form .contact-input:focus {
        background: #1a1a1a;

     }


    .footer .footer-content .contact-form .contact-btn {
        float: right;
     }

    .footer .footer-content .links ul a:hover {
        color: white;
        margin-left: 15px;
        transition: all .3s;
    }




    .footer .footer-bottom {
        background: #343a40;
        color: #686868;
        height: 50px;
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 0px;
        pading-top: 20px;
    }

/* Page Wrapper*/

.page-wrapper {
    min-height: 100%;
}
 .page-wrapper a:hover {
    
     color: #006669
  }


 /*Buttons*/

 .btn-big{
     padding: .7rem 1.3rem;
     line-height: 1.3rem;
    
     }

 
