.content  .sidebar {
    float: left;
    width: 30%;
    height: 700px;

}

.content  .sidebar.single {
    padding: 0px 10px;
}

.content  .sidebar .section {
    background: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
      
}
.content  .sidebar .section .section-title {
    margin: 10px 0px 10px 0px;
}

.content  .sidebar .section.search {
    margin-top: 80px;


}

.content  .sidebar .section.topics ul {
    margin:0px;
    padding: 0px;
    list-style: none;
    border-top: 1px solid #e0e0e0;
}


.content  .sidebar .section.topics ul li a {
    display: block;
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid #e0e0e0;
    transition: all 00.3s;
}

.content  .sidebar .section.topics ul li a:hover {
    padding-left: 20px;
    transition: all 00.3s;
}
body
{
    height: 100%;
    padding: 0px ;
    margin: 0px ;
    background: #f6f6f6 ;
    font-family: serif;
}